<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Risultati Ricerca</title>
</head>
<body>

    <h1>Risultati Ricerca Playlist</h1>

    {% if results %}
        <ul>
            {% for playlist in results %}
                {% if playlist %}  {# Controlla se la playlist esiste #}
                <li>
                    <strong>{{ playlist.get('name', 'Senza Nome') }}</strong><br>

                    {% if playlist.get('images') %}
                        <img src="{{ playlist['images'][0]['url'] }}" width="100">
                    {% endif %}

                    <!-- Bottone Visualizza Brani -->
                    <p>
                        <a href="{{ url_for('home.playlist_tracks', playlist_id=playlist['id']) }}" class="btn btn-primary">
                            Visualizza Brani
                        </a>
                    </p>

                </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Nessuna playlist trovata.</p>
    {% endif %}

    <p><a href="/">Torna alla Home</a></p>

</body>
</html>
